.HeaderWrapper {
<<<<<<< HEAD
  background-color: aquamarine;
=======
  background-color: #fff;
  padding: 10px 20px;
>>>>>>> 673ac151fc787fbcb05999981bdb1b043dd851c0
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
